@use "./variables" as v;

.targetCountries_wrapper {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.targetCountries_item {
  margin: 5px 5px;
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: v.$main;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 5px 10px;
    transition: v.$transition_f;
    font-size: 12px;
  }
  input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  input:checked + label {
    color: v.$main;
    background-color: white;
    border-color: v.$main;
  }
}